:root {
    --blanc : #fff;
    --blan-c : #e3dede;
    --black : #111;
    --dark-d : #b7950b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--blanc);
    line-height: 1.25;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blan-c);
}

/* POUR LA PARTIE DU BAR NAVIGARION */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 20px 90px;
    background-color: #1d2a48;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    color: var(--dark-d);
    cursor: pointer;
    font-size: 1.9rem;
    text-align: center;
    font-weight: bold;
}

.navbar {
    position: relative;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.navbar ul li {
    list-style: none;
}

.link.active {
    color: var(--dark-d);
}

.navbar ul li a {
    text-decoration: none;
    color: var(--blan-c);
    cursor: pointer;
    font-size: 1.2rem;
}

.navbar .link:hover {
    color: var(--dark-d);
    transition: all .6s;
    cursor: pointer;
}

.btn-toggler {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 32px;
    height: 30px;
    border: none;
    padding: 5px;
    gap: 5px;
    background-color: transparent;
    cursor: pointer;
}
.btn-toggler .bar {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--dark-d);
}


/* POUR LA PARTIE DE LA SECTION ACCUEIL */
.accueil {
    background: url(../images/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height:100vh;
    margin: 0 90px;
}

.p .titre {
    font-weight: normal;
}
.container-accueil .p .hotel {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 5px;
}
.container-accueil .p {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.container-accueil .para1 {
    font-size: 1.3rem;
    color: #b8b5b5;
    
    font-family: Arial, sans-serif;
}

.btn-accueil a {
    text-decoration: none;
    color: var(--blanc);
    font-size: 1.2rem;
    font-weight: bold;
}
.container-accueil .btn-accueil {
    margin-top: 25px;
    /* width: 100%; */
}
.container-accueil button {
    padding: 15px 20px;
   background: var(--dark-d);
   color: var(--blanc);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 20%;
}

.container-accueil button:hover {
    cursor: pointer;
    transform: translateX(2px);
    transition: all .3s;
}

@media (max-width : 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 20px 15px;
    }
    .btn-toggler {
        display: flex;
    }
    .navbar ul {
        display: none;
    }
}


/* POUR LA SECTION CHAMBRE */
.chambre {
    margin-top: 0;
}
h2 {
    color: var(--black);
    font-size: 2rem;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 15px;
    font-weight: bold;
}

.chambre .bar {
    display: block;       
    width: 80px;           
    height: 5px;
    background: #111;
    margin: 0 auto 30px;
}
.container-Chambre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 20px 90px;
}

.container-Chambre .block {
    margin: 20px;
    box-shadow: 0 0 20px #c6c5c5;
    border-radius: 5px;
}

/* .container-Chambre .block:hover {
    transform: translateY(-5px);
    transition: all .3s ease;
} */

.block img {
    width: 100%;
    height: 220px;
    border-radius: 5px;
    object-fit: cover;
}



.block img:hover {
    transform: scale(1.01);
    transition: all .3s ease;
}

.chambre-item {
    color: var(--black);
    margin-top: 20px;
    margin-left: 20px;
}

.title-items {
    color: var(--black);
    font-size: 1.3rem;
    font-weight: bold;
    margin: 15px 0;
}

.description {
    font-size: 1rem;
    color: #737171;
    margin-bottom: 15px;
}

.chambre-item .prix {
    color: var(--dark-d);
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.chambre-item button {
    padding: 10px;
    width: auto;
    background-color:var(--dark-d);
    color: var(--blanc);
    border: none;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
}

.chambre-item button:hover {
    background: #ab8a08;
    color: var(--blanc);
    transition: all .6s ease;
}

@media (max-width : 988px) {
    .container-Chambre {
        flex-wrap: wrap;
        padding: 0;
    }
}