:root {
    --blanc : #fff;
    --blan-c : #e3dede;
    --black : #111;
    --dark-d : #b7950b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--blanc);
    line-height: 1.25;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blan-c);
}

html {
    scroll-behavior: smooth;  
}
section {
    scroll-margin-top: 100px;
}

/* POUR LA PARTIE DU BAR NAVIGARION */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 20px 90px;
    background-color: #1d2a48;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    color: var(--dark-d);
    cursor: pointer;
    font-size: 1.9rem;
    text-align: center;
    font-weight: bold;
}

.navbar {
    position: relative;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.navbar ul li {
    list-style: none;
}

.link.active {
    color: var(--dark-d);
}

.navbar ul li a {
    text-decoration: none;
    color: var(--blan-c);
    cursor: pointer;
    font-size: 1.2rem;
}

.navbar .link:hover {
    color: var(--dark-d);
    transition: all .6s;
    cursor: pointer;
}

.btn-toggler {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 32px;
    height: 30px;
    border: none;
    padding: 5px;
    gap: 5px;
    background-color: transparent;
    cursor: pointer;
}
.btn-toggler .bar {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--dark-d);
}


/* POUR LA PARTIE DE LA SECTION ACCUEIL */
.accueil {
    background: url(../images/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height:100vh;
    margin: 0 90px;
}

.p .titre {
    font-weight: normal;
}
.container-accueil .p .hotel {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 5px;
}
.container-accueil .p {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.container-accueil .para1 {
    font-size: 1.3rem;
    color: #b8b5b5;   
    font-family: Arial, sans-serif;
}

.container-accueil .btn {
    background: var(--dark-d);
    width: 25%;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    border-radius: 5px;
}

.container-accueil .btn:hover {
    background: #937708;
    color: #fff;
    transform: translateX(2px);
    transition: all .3s;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: var(--blanc);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width : 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 20px 15px;
    }
    .btn-toggler {
        display: flex;
    }
    .navbar ul {
        display: none;
    }
    .container-accueil .btn {
        width: 100%;
    }
}


/* POUR LA SECTION CHAMBRE */
.chambre {
    margin-top: 0;
}
h2 {
    color: var(--black);
    font-size: 2rem;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 15px;
    font-weight: bold;
}

.chambre .bar {
    display: block;       
    width: 80px;           
    height: 5px;
    background: #111;
    margin: 0 auto 30px;
}
.container-Chambre {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px 70px;
}

.container-Chambre .block {
    margin: 20px;
    box-shadow: 0 0 20px #c6c5c5;
    border-radius: 5px;
}

.block img {
    width: 100%;
    height: 220px;
    border-radius: 5px;
    object-fit: cover;
}



.block img:hover {
    transform: scale(1.01);
    transition: all .3s ease;
}

.chambre-item {
    color: var(--black);
    margin-top: 20px;
    margin-left: 20px;
}

.title-items {
    color: var(--black);
    font-size: 1.3rem;
    font-weight: bold;
    margin: 15px 0;
}

.description {
    font-size: 1rem;
    color: #737171;
    margin-bottom: 15px;
}

.chambre-item .prix {
    color: var(--dark-d);
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.chambre-item button {
    padding: 10px;
    width: auto;
    background-color:var(--dark-d);
    color: var(--blanc);
    border: none;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.chambre-item button:hover {
    background: #937708;
    color: var(--blanc);
    transition: all .6s ease;
    transform: translateX(2px);
    transition: all .3s;
}

@media (max-width : 988px) {
    .container-Chambre {
        flex-wrap: wrap;
        padding: 0;
    }
}

@media (max-width : 768px) {
    .container-Chambre {
        display: flex;
        flex-direction: column;
    }
}

/* POUR LA SECTION RESERVATION */
.container-reser .bar {
    width: 80px;
    height: 5px;
    display: block;
    background: var(--black);
    margin: 0 auto;
}

.reservation .container-reser {
    margin-top: 0;
    padding: 0;
}

.container-reser h3 {
   color: var(--black);
    font-size: 2rem;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 10px;
    font-weight: bold;
}

.container-reser .group-champ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    margin-top: 25px;
}

.group-champ .block1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.block1 .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group .champ {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 2px solid #c6c3c3;
    border-radius: 5px;
    margin-top: 5px;
    color: var(--black);
}
.form-group .champ:focus {
    border: 2px solid var(--dark-d);
    color: var(--black);
}

.form-group .group {
    color: var(--black);
   font-size: 1.1rem;
   font-weight: bold;
}

.block1 .btn {
    display: block;
    grid-column: 1/3;
    grid-row: 2 ;
    padding: 12px;
    color: #fff;
    background: var(--dark-d);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

.block1 .btn:hover {
    background: #937708;
    color: #fff;
    transform: translateX(2px);
    transition: all .3s;
}

.block2 {
    width: 50%;
    text-align: center;
}
.block2 img {
    width: 100%;
    height: 320px;
}

@media (max-width : 768px) {
    .container-reser .group-champ {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 15px;
    }

    .group-champ .block1  {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .form-group input {
        width: 100%;
        height: 3rem;
    }

    .block1 button {
        width: 100%;
        height: 3rem;
    }

    .group-champ .block2 {
        width: 100%;
        margin-top: 20px;
    }

    .block2 img {
        width: 100%;
        height: 20rem;
    }
}

@media (max-width : 998px) {
    .container-reser .group-champ {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 15px;
    }

    .group-champ .block1 {
       width: 100%;
    }
    .form-group input {
        cursor: text;
        width: 100%;
         height: 3rem;
    }
    .block1 button {
        width: 100%;
        cursor: pointer;
        height: 3rem;
    }
    
    .group-champ .block2 {
        width: 100%;
    }
    .block2 img {
        width: 100%;
        height: 15rem;
        margin-top: 20px;
    }
}

@media (min-width : 1000px) {
.container-reser .group-champ {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .group-champ .block1 {
       width: 100%;
    }
    .form-group input {
        cursor: text;
        width: 100%;
         height: 3rem;
    }
    .block1 button {
        width: 100%;
        cursor: pointer;
        height: 3rem;
    }
    
    .group-champ .block2 {
        width: 100%;
    }
    .block2 img {
        width: 100%;
        height: 20rem;
        margin-top: 20px;
    }
}



/* POUR LA SECTION CONTACT */
.container-contact h3 {
    color: var(--black);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 50px;
}

.container-contact .bar {
    width: 80px;
    height: 5px;
    background: var(--black);
    margin: 0 auto;
    display: block;
}

.container-contact {
    padding: 20px 15PX;
    width: 50%;
    margin: 0 auto;
}

.container-contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}
.container-contact form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container-contact .form-group input {
    width: 100%;
    height: 3rem;
    color: var(--black);
    cursor: text;
    outline: none;
    padding-left: 10px;
    font-size: 1rem;
    border: none;
    border: 1px solid #737171;
    font-size: 1.1rem;
    border-radius: 5px;
}
.container-contact .form-group input:focus {
  border: 2px solid var(--dark-d);
}

.container-contact .form-group textarea {
    width: 100%;
    height: 7rem;
    outline: none;
    color: var(--black);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.1rem;
}

.container-contact .form-group label {
    color: var(--black);
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 1.1rem;
}

.container-contact .form-group button {
    width: 100%;
    height: 3rem;
    background: var(--dark-d);
    color: var(--blanc);
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.container-contact .form-group button:hover {
    background: #937708;
    color: var(--blanc);
    cursor: pointer;
    transform: translateX(2px);
    transition: all .3s;
}

@media (max-width : 998px) {
    .container-contact {
        width: 70%;
    }
}
@media (max-width : 768px) {
    .container-contact {
        width: 100%;
    }
}